[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule ".vim/bundle/pytest"]
	path = .vim/bundle/pytest
	url = https://github.com/alfredodeza/pytest.vim.git
[submodule ".vim/bundle/commentary"]
	path = .vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/python-mode"]
	path = .vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule ".vim/bundle/bufkill"]
	path = .vim/bundle/bufkill
	url = https://github.com/vim-scripts/bufkill.vim.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/bundle/vim-snippets"]
	path = .vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
