[user]
	name = Jason Keene
	email = jasonkeene@gmail.com

[core]
	pager = less -FRSX # enable colors and quit if shorter than the screen
	excludesfile = ~/.gitexclude
[color]
	ui = auto
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	co = checkout
	ci = commit
	aa = add --all
	st = status
	di = diff
	dc = diff --cached
	pu = pull --ff-only
	mm = merge master
	fa = git fetch --all --prune

# diff/merge tools

[diff]
	tool = Kaleidoscope
[merge]
	tool = Kaleidoscope
[mergetool]
	keepBackup = false
	prompt = false

# diffmerge

[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true

# kdiff3

[difftool "kdiff3"]
	path = kdiff3
	trustExitCode = false
[mergetool "kdiff3"]
	path = kdiff3
	trustExitCode = false
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
