[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule ".vim/bundle/pytest"]
	path = .vim/bundle/pytest
	url = https://github.com/alfredodeza/pytest.vim.git
[submodule ".vim/bundle/commentary"]
	path = .vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/python-mode"]
	path = .vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule ".vim/bundle/bufkill"]
	path = .vim/bundle/bufkill
	url = https://github.com/vim-scripts/bufkill.vim.git
